<div class="under-construction-container"> 
    <div class="image-container">
      <img src="assets\downloadyourcourse_logo_svg.svg" alt="downloadyourcourse logo" class="logo divine-highlight" />
    </div>
    <h1>Thanks For Your Visit!</h1>
    <h3>DownloadYourCourses.com is under maintenance....</h3>
    <p>🚀 Fill out the Form to Get Instant Access to Currency Strength Meter (CSM), Pricing & Course Details!</p>
    
  
    <mat-progress-bar class="progressBar" [mode]="mode" [value]="value" [bufferValue]="bufferValue"> </mat-progress-bar>
   
    <a href="{{google_form_link}}" target="_blank"><button class="submit-button">Fill the Form!</button></a>
  </div>
  