<footer>

    <div class="contact-us">
        <div class="container">
            <h3>Contact Us</h3>
            <div class="flex align-items"><mat-icon> location_on</mat-icon><p style="margin-left: 2rem;">D14, 9th Floor, C-28, Platina Heights,<br>Sector 63, Noida, U.P-201301</p></div>
            <div class="flex align-items"><mat-icon> email</mat-icon><p style="margin-left: 2rem;">support&#64;selvadeca.com</p></div>
            <div class="flex align-items"><mat-icon> phone</mat-icon><p style="margin-left: 2rem;">+91 9306901339</p></div>
        </div>
    </div>



    <div class="flex">
        <div class="container risk-disclosure">
            <h3>Legal & Compliance Notice</h3>
            <p>By engaging with <b>Selvadeca International</b> technologies services or accessing our digital platforms, you
                acknowledge and agree to our Terms of Service and Privacy Policy. All software solutions, consultancy
                services, and digital resources provided by <b>Selvadeca International</b> technologies are offered "as-is" and are
                intended solely for informational and operational purposes. While we strive to ensure the accuracy,
                reliability, and security of our offerings, we do not guarantee uninterrupted service or error-free
                performance.</p>
            <p>Clients are responsible for assessing the suitability of our solutions in relation to their unique
                business needs, regulatory requirements, and technical environments. Implementation of our services
                should be undertaken with appropriate planning, technical oversight, and due diligence. Any reliance on
                our consultancy, content, or tools is at your own discretion and risk.</p>
            <p><b>Selvadeca International</b> technologies maintains strict confidentiality and data protection standards, with all
                communications and data exchanges secured through encrypted channels. Continued use of our platform
                constitutes acceptance of all applicable terms and affirms your commitment to responsible and compliant
                use of our services.</p>
        </div>
    </div>

    <div class="tag-and-region-label">
        <div class="container flex align-items justify-space-between custom-edits-to-div">
            <p>© Selvadeca International | selvadeca.com</p>
            <p>Technology for the Driven<span class="square">{{regionCode}}</span></p>
        </div>
    </div>


</footer>

<!-- in mobile its causing issue because of large sentence text -->
<!-- <p>Education for Hustlers - Top Courses, Zero Gatekeeping<span class="square">{{regionCode}}</span></p> -->