<div class="skeleton-head-banner"></div>

<div class="skeleton-content-wrapper">
  <div class="skeleton-title"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text-partial"></div>
</div>

<br>

<div class="skeleton-card">
  <div class="skeleton-thumbnail"></div>
  <div class="skeleton-card-content">
    <div class="skeleton-title"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text"></div>
  </div>
</div>

<br>

<div class="skeleton-content-wrapper">
  <div class="skeleton-text"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text-partial"></div>
</div>

<br>

<div class="skeleton-card">
  <div class="skeleton-thumbnail"></div>
  <div class="skeleton-card-content">
    <div class="skeleton-title"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text"></div>
  </div>
</div>

<br>
<br>
