<div class="under-construction-container">
    
    <div class="flex head-section">
        <div style="flex: 1.4;">
            <div class="button-container">
                <h2>Designing Expertise. Driving Growth.</h2>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/fintech']">FinTech</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/healthcare']">HealthCare</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/manufacturing']">Manufacturing</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/public-services']">Public Services</button>
            </div>

            <div class="button-container">
                <h2>Innovating with AI. Building Smarter Solutions.</h2>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/low-code']">Low Code, No Code</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/pro-code']">Pro Code</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/generative-ai']">Generative AI</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/ai-ml']">AI and ML</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/cloud-native']">Cloud Native</button>
            </div>

            <div class="button-container">
                <h2>Our Products</h2>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/synapforce']">SynapForce</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/synaplex']">SynapLex</button>
                <button class="buttonClass button-divine-highlight" [routerLink]="['/synaplogix']">SynapLogix</button>
            </div>
        </div>

        <div class="text-container"  style="flex: 1;">
            <div class="division">
                <h2><mat-icon> my_location</mat-icon> About Us</h2>
                <p><b>Selvadeca International</b> technologies is a trusted partner in delivering innovative enterprise solutions, dedicated to transforming businesses through scalable, secure, and high-performance technology. We specialize in empowering organizations across FinTech, Healthcare, Manufacturing, and Retail with deep expertise in product engineering, software consulting, and design-led growth strategies. Our mission is to deliver forward-thinking solutions that drive operational efficiency, elevate customer experiences, and fuel measurable business growth.</p>
            </div>

            <div class="division">
                <h2><mat-icon>remove_red_eye</mat-icon> Vision</h2>
                <p>To empower businesses through innovative enterprise solutions, purpose-built to address the evolving challenges of the modern world.</p>
            </div>

            <div class="division">
                <h2><mat-icon>assistant_photo</mat-icon> Mission</h2>
                <p>To lead as the most trusted technology partner, empowering growth through scalable, innovative, and future-ready solutions.</p>
            </div>

            <p><i>Partner with us to drive innovation and achieve unmatched growth.</i></p>

        </div>
    </div>
</div>


<div class="flex-column container-extended cards-section">

<h2 style="text-align: center;">Our Services</h2>

<div class="flex cards">

    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class=""><mat-icon>build</mat-icon></div>
    <mat-card-title>Product Engineering</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media.licdn.com/dms/image/v2/C4E12AQGCNkJfRcKVgQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520198308973?e=2147483647&v=beta&t=em6Sdv19vy5aLA2QITMGPtltiB54a3oYVjuOaKBoXo0" alt="">
  <mat-card-content>
    <p>
      Transforming ideas into scalable, market-ready solutions.
    </p>
    <ul>
        <li>End-to-end custom product development.</li>
        <li>Scalable and robust system architecture.</li>
        <li>Agile-driven development for fast delivery.</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="scrollToTop()" >READ MORE</button>
  </mat-card-actions>
</mat-card>




<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class=""><mat-icon>people</mat-icon></div>
    <mat-card-title>Software Consulting</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.designveloper.com/wp-content/uploads/2020/04/top-view-photo-of-people-near-wooden-table-3183150-1024x683.jpg" alt="">
  <mat-card-content>
    <p>
      Strategic guidance for navigating complex technology landscapes.
    </p>
    <ul>
        <li>Tailored digital transformation strategies.</li>
        <li>Enterprise systems integration.</li>
        <li>Technology evaluation for sustainable growth.</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="scrollToTop()" mat-button>READ MORE</button>
  </mat-card-actions>
</mat-card>



<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class=""><mat-icon>check_circle</mat-icon></div>
    <mat-card-title>Growth By Design</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media.istockphoto.com/id/1297036689/photo/business-growth-boost-up-business-progress-in-business-or-success-concept-businessman-is.jpg?s=612x612&w=0&k=20&c=Pdh_Y4sthNJqqx5b_v-mhvR4aHeiUj7HVSvn7t8uDc0=" alt="">
  <mat-card-content>
    <p>
      Innovative solutions for targeted business growth.
    </p>
    <ul>
        <li>Identify barriers to growth.</li>
        <li>Develop cost-effective, multi-tenant solutions.</li>
        <li>Solve challenges through expert-led workshops.

</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="scrollToTop()" >READ MORE</button>
  </mat-card-actions>
</mat-card>
</div>

</div>