<div class="header">
    <h1>Manufacturing Software Solutions</h1>
    <p>Empowering Efficiency with Comprehensive Manufacturing Solutions</p>
</div>


<div class="content container">
    <h2>Innovating MHE Solutions with Technology</h2>
    <p>In the dynamic world of Material Handling Equipment (MHE), efficiency and precision are paramount. At <b>Selvadeca International</b> technologies, we specialize in delivering advanced software solutions tailored to the needs of MHE manufacturers, distributors, and service providers. Our comprehensive services cover trading platforms, catalog management, lead generation, service booking, and management to streamline operations and enhance business productivity.</p>

    <div>
        <h2>Our MHE Software Solutions</h2>
        <div class="cards-section justify-center">

            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title><b>1. Trading Platforms</b></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Robust platforms to facilitate efficient trade in MHE, connecting buyers and sellers with ease.
                    </p>
                </mat-card-content>
            </mat-card>


             <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title><b>2. Catalog Management</b></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Easy-to-manage product catalogs with detailed specifications for better decision-making.
                    </p>
                </mat-card-content>
            </mat-card>


             <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title><b>3. Lead Generation</b></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Optimized tools to generate high-quality leads and connect with potential clients.
                    </p>
                </mat-card-content>
            </mat-card>


             <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title><b>4. Service Booking</b></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Intuitive service booking systems for maintenance and repair of MHE equipment.
                    </p>
                </mat-card-content>
            </mat-card>


             <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title><b>5. Management Solutions</b></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Comprehensive tools to manage MHE operations, from inventory tracking to client relations.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>



    <div class="section">
        <h2>Benefits of Our MHE Software Solutions</h2>
            <ul>
                <li><b>Faster Time-to-Market:</b> Pre-built modules reduce development time.</li>
                <li><b>Cost Efficiency:</b> Reusable components minimize costs.</li>
                <li><b>Scalability:</b> Solutions designed to grow with your business.</li>
                <li><b>Enhanced Security:</b> Robust encryption ensures compliance and protection.</li>
                <li><b>Improved Customer Experience:</b> Intuitive interfaces enhance usability.</li>
                <li><b>Seamless Integration:</b> Ensure smooth operations with interoperable solutions.</li>
            </ul>
    </div>


    <div class="section">
        <h2>Why Choose <b>Selvadeca International</b> technologies?</h2>
            <ul>
                <li><b>Industry Expertise:</b> Extensive financial industry experience tailored to regulatory compliance.</li>
                <li><b>AI/ML Integration:</b> Cutting-edge technologies optimize all your operations.</li>
                <li><b>Customizable Solutions:</b> Scalable and tailored to your needs.</li>
                <li><b>Cutting-Edge Technology:</b> Innovative and reliable solutions.</li>
                <li><b>Dedicated Support:</b> Comprehensive assistance from consultation to deployment.</li>
            </ul>
    </div>


</div>